@import "tailwindcss";

body {
  background: #f0f0f0;
  color: #333;
  font-family: 'Cascadia Code', monospace;
  font-size: 1rem;
  /* slightly smaller base for better scaling */
  line-height: 1.5;
  padding: 1rem;
}